---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Astrid Countee's Portfolio</h1>
  <p class="doc">
    <%= link_to "Projects", "https://github.com/AstridW" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
